.text-gradient {
  background: linear-gradient(to right, #e75909, #54a0d7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: inline;
}

.bg-gradient {
  background: linear-gradient(to right, #e75909, #54a0d7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: inline;
}

.bg-brand-gradient {
  background-image: linear-gradient(to right, #54a0d7, #e75909);
}

html {
  scroll-behavior: smooth;
}
